body {
  background: linear-gradient(134.92deg, #F3DD9E -16.08%, #ffcac9 76.85%) fixed;
}

/* 
  Layout Design
*/
.layout {
  padding: 10px 280px;
}




/* 
  Header Design
*/
.header {
  height: 130px;
  margin-bottom: 40px;
}

.searchBar {
  margin-top: 40px !important;
  width: 684px!important;
  height: 50px;
  box-sizing: border-box;
  background: #F5F9FD;
  border: 1.50117px solid rgba(43, 0, 212, 0.06);
  border-radius: 15px;
  border: none;
}

.searchBar label {  
  padding: 10px;
  top: -15px;
}

.headerMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.headerMenu ul li {
  float: left;
}

.headerMenu li img {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}





/* 
  Sidebar Design
*/
.sidebar {
  padding: 20px;
  display: flex;
  background: #FAFBFC;
  min-height: 280px;
  border-radius: 25px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.sidebar ul li {
  margin: 20px 0px;
  padding: 12px 0px;
  text-align: center;
}

.activeSidebarMenu {
  background: linear-gradient(104.08deg, #FECE76 -28.92%, #F78B88 76.85%);
  border-radius: 100px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #32363C;
}

.activeSidebarMenu a{
  color: #fff!important;
}




/* Wallet Design */
.inner-div {
 height: 600px;
  position: relative;
}

.inner-div {
  font-weight: 400;
  color: #071011;
  font-size: 1rem;
}

.front {
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front {
  cursor: pointer;
  height: 100%;
  backface-visibility: hidden;
}

.front__bkg-photo {
  position: relative;
  height: 300px;
  background: url("../../assets/wallet-banner.png")
    no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  overflow: hidden;
}

.front__face-photo {
  position: relative;
  top: -260px;
  margin: 0 auto;
  height: 120px;
  width: 120px;
  border-radius: 15%;
  border: 5px solid #fff;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/156905/profile/profile-512.jpg?1530296477")
    no-repeat;
  background-size: contain;
  overflow: hidden;
}

.userDetails {
  position: relative;
  top: -244px;
  text-align: center;
  display: flex;
  background: #fff;
  gap: 50px;
  padding: 50px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.userDetailsLeft {
  text-align: center;
  position: relative;
  top: -244px;
  color: #fff;
  margin: 0 auto;
}

.userDetailsLeftHeader {
  margin-bottom: 10px;
}

.userDetailsLeftHeader h4 {
  font-size: 25px;
  line-height: 30px;
}

.userDetailsLeftHeader span {
  font-size: 16px;
  margin-top: 5px;
}

.userDetailsChip {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.userDetailsChip .chip {
  border-radius: 12px;
  box-sizing: border-box;
  max-width: 260px !important;
  min-width: 260px !important;
  height: 45px;
  line-height: 24px;
  margin-top: 10px;
  font-size: 16px!important;
  color: #fff;
  line-height: 24px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 25px rgba(247, 143, 138, 0.47);
}

.collectionButton {
  width: 328px;
  height: 195px;
  background: linear-gradient(104.08deg, #FECE76 -28.92%, #F78B88 76.85%);
  box-shadow: 0px 13px 39px rgba(247, 143, 138, 0.47);
  border-radius: 20px;
  color: #fff !important;
  margin-left: 50px !important;
}

.collectionButton2{
  width: 328px;
  height: 195px;
  background: rgba(247, 143, 138, 0.08);
  border-radius: 20px;
  border: 2px dashed #F78F8A!important;
  color: #F78F8A !important;
  margin-left: 40px !important;
}








/* Tranding News */

.trandingNewsHeader h5 {
  font-size: 28px;
  color: #272727;
  padding-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
}

.trandingNewsCard {
  display: flex;
  gap: 20px;
  background-color: #FFFFFF;
  background: #FFFFFF;
  border: 1px solid #EBEFF0;
  border-radius: 25px;
  padding: 20px;
}

.trandingNewsCardTextParagraph {
  font-size: 16px;
  line-height: 22.4px;
  color: #32363C;
}





/* Inivation */
.inviationHeaderTitle {
  font-size: 30px;
  line-height: 150%;
  color: #272727;
  font-weight: 500!important;
}

.inviationSectionTitle {
  font-size: 25px;
  line-height: 150%;
  color: #272727;
}

.invitationSentSection{
  margin-top: 40px!important;
}

.invitationCard {
  box-sizing: border-box;
  width: 995px;
  height: 131px;
  background: #FFFFFF;
  border: 1px solid #EBEFF0;
  box-shadow: 0px 10px 58px rgba(122, 97, 96, 0.31);
  border-radius: 20px;
  padding: 15px 20px;
}

.invitationCardLeft {
  display: flex;
  gap: 15px;
}

.invitationCardLeftText h6 {
  font-size: 20px;
  color: #272727;
  margin-bottom: 5px;
}

.invitationCardLeftText span {
  font-size: 16px;
  color: #32363C;
  font-weight: 300;
}

.invitationCardLeftButton .chipPreview {
  width: 110px;
  height: 35px;
  background: rgba(0, 178, 255, 0.1);
  border-radius: 10px;
  color: #00B2FF;
  margin-top: 10px;
}

.chipPending {
  margin-top: 10px;
  width: 110px !important;
  height: 35px !important;
  background: #FDC369 !important;
  border-radius: 10px !important;
  color: #fff!important;
}

.invitationCardRight {
  display: flex;
  justify-content: space-between;
}

.invitationCardRightUser {
  margin-top: 6px;
}

.invitationCardRightUser h6 {
  font-family: 'Gilroy-Regular';
  font-size: 16px;
  line-height: 150%;
  color: #272727;
}

.invitationCardRightButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.acceptButton {
  box-sizing: border-box!important;
  width: 171px!important;
  height: 45px!important;
  background: #6FD14C!important;
  border-radius: 12px!important;
  color: #fff!important;
}

.declineButton {
  box-sizing: border-box!important;
  width: 171px!important;
  height: 45px!important;
  background: #FF3F3F!important;
  border-radius: 12px!important;
  color: #fff!important;
  margin-top: 7px;
}






/* Collection */
.collectionCardLeftText {
  height: 80px;
  margin: 10px;
  border-right: 1.45649px solid #EEF0F3;
}



/* Footer */
.footerSection {
  border: 1px solid #EFEFEF;
  padding: 10px 280px;
  margin-top: 50px;
}
.footerText {
  font-family: 'Gilroy-Medium';
  font-size: 16px;
  line-height: 45px;
  color: #32363C;
}